.header-wrapper{
    background: #ebebeb;
    border-bottom: 1px solid #ddd;
}

.header-wrapper > div {
    float: left;
}

.sidebar-wrapper {
   
    float: left;
    border: 1px solid green;
    box-sizing: border-box;
}

#above-content {
    border: 5px solid red;
}


#content {
    
    float: left;
    border: 1px solid blue;
    box-sizing: border-box;
}

.content-wrapper {
    border: 1px dashed yellow;
}

.full-width {
    width: 100%;
}

.three-fourths {
    width: 75%;
}

.one-half{
    width: 50%;
}

.one-fourth {
    width: 25%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */